astroid==2.12.5
black==22.8.0
cfgv==3.3.1
click==8.1.3
colorama==0.4.5
cycler==0.11.0
dill==0.3.5.1
distlib==0.3.6
et-xmlfile==1.1.0
filelock==3.8.0
flake8==5.0.4
fonttools==4.37.1
identify==2.5.3
isort==5.10.1
joblib==1.1.0
kiwisolver==1.4.4
lazy-object-proxy==1.7.1
matplotlib==3.5.3
mccabe==0.7.0
mypy-extensions==0.4.3
nodeenv==1.7.0
numpy==1.23.2
openpyxl==3.0.10
packaging==21.3
pandas==1.4.4
pathspec==0.10.1
Pillow==9.2.0
platformdirs==2.5.2
plotly==5.10.0
pre-commit==2.20.0
pycodestyle==2.9.1
pyflakes==2.5.0
pylint==2.15.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.11.2
six==1.16.0
sklearn==0.0
tenacity==8.0.1
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
virtualenv==20.16.4
wrapt==1.14.1
yellowbrick==1.5
